{{ mode_system_fragment }}
{% if inline_cleaning_block %}

{{ inline_cleaning_block }}
{% endif %}

## Reference estimation examples

{{ examples_block }}

{% include "estimation/v1/partials/structured_output_hint.md.j2" %}
