{% include system_instructions_template %}
{% if inline_cleaning_block %}

{{ inline_cleaning_block }}
{% endif %}

## Reference estimation examples

{{ examples_block }}

{% include structured_output_hint_template %}
